[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_150031001653304B4D323431-if00
restart_method: command

[output_pin nevermore_fan]
pin: expander:PA0
pwm: false
value: 0
shutdown_value: 0

[temperature_sensor camara_temp]
sensor_type: EPCOS 100K B57560G104F
sensor_pin: expander:PA6
min_temp: 0
max_temp: 80

#[temperature_sensor carcaca_temp]
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: expander:PA5
#min_temp: 0
#max_temp: 80

#[output_pin mosfet1]
#pin: expander:PA1
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

#[output_pin mosfet2]
#pin: expander:PA2
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

[output_pin barra_leds]
pin: expander:PA3
pwm: true
cycle_time: 0.001
value: 0.5
shutdown_value: 0


# Status LED lights when klipper connects 
[static_digital_output onboardLED]
pins: !expander:PA4

# Other Pins
# T0 = expander:PA6
# T1 = expander:PA5
# GPIO = expander:PA7