[include mainsail.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
[include led.cfg]
[include head.cfg]
[include shell-macros.cfg]
[include klipperExpander.cfg]
#[include PIS.cfg]

[mcu]
serial: /dev/serial/by-path/platform-fd840000.usb-usb-0:1:1.0
baud: 250000

[virtual_sdcard]
path: /home/linaro/printer_data/gcodes

[printer]
kinematics: corexy
max_velocity: 800
max_accel: 19100
max_z_velocity: 20  #15
max_z_accel: 50
square_corner_velocity: 3.0

#####################################################################
#      X/Y Stepper Settings   X=B   Y=A
#####################################################################

[stepper_x]
step_pin: PC12
## Refer to https://docs.vorondesign.com/build/startup/#v0
dir_pin: !PC10                                                      # Check motor direction in link above. If inverted, remove ! before PC13
enable_pin: !PD2
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200                                        # Set to 400 for 0.9 degree stepper motor, 200 is for 1.8 degree stepper motors
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 120
position_min: 0
position_max: 120
homing_speed: 30 #estava 35 # for sensorless homing it is recommended not to go above 40mm/s   
second_homing_speed: 5
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC11
interpolate: true
run_current: 0.8                  # estava 0.9
sense_resistor: 0.110
stealthchop_threshold: 0      # 0                                 # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: PB3                                                       # YOU NEED TO JUMP THIS DIAG PIN ON YOUR BOARD FOR SENSORLESS HOMING TO WORK 
driver_SGTHRS: 80  #Estava 60                                                 # this is set to 255 which is the MAX sensitivity for sensorless homing, you will need to tune this later

[stepper_y]
step_pin: PC15
dir_pin: !PC13                                                      # Check motor direction in link above. If inverted, remove ! before PC1
enable_pin: !PA10
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200                                        # Set to 400 for 0.9�?degree stepper motor, 200 is for 1.8�?stepper motors
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 120
position_min: 0
position_max: 120
homing_speed: 30 #estava 35                                                    # for sensorless homing it is recommended not to go above 40mm/s   
second_homing_speed: 5
homing_retract_dist: 0
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PC14
interpolate: true
run_current: 0.8         # estava 0.9
sense_resistor: 0.110
stealthchop_threshold: 0 # 0                                           # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle
diag_pin: ^PA9                                                      # YOU NEED TO JUMP THIS DIAG PIN ON YOUR BOARD FOR SENSORLESS HOMING TO WORK 
driver_SGTHRS: 80    #Estava 60                                                # this is set to 255 which is the MAX sensitivity for sensorless homing, you will need to tune this later

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB2
dir_pin: PC5	                                                    # Remove the ! before PB8 if motor direction is inverted.
enable_pin: !PB10
rotation_distance: 8                                                # For T8x8 lead screw
microsteps: 16
endstop_pin: ^PA3
position_max: 120
position_min: -10                   # -1.5
homing_speed: 25
second_homing_speed: 5.0
homing_retract_dist: 10.0              # 10.0

[tmc2209 stepper_z]
uart_pin: PC4
interpolate: true
#tx_pin: PA2
#uart_address: 2
# For FYSETC 42HSC1404B-200N8
run_current: 0.6              # 0.3
#hold_current: 0.2             # 0.5
sense_resistor: 0.110
stealthchop_threshold: 0 # 0                                          # Set to 999999 to turn stealthchop on, and 0 to use spreadcycle

#[autotune_tmc stepper_x]
#motor: fysetc-35hsh7402-24b-60a
#tuning_goal: auto
#sg4_thrs: 80

#[autotune_tmc stepper_y]
#motor: fysetc-35hsh7402-24b-60a
#tuning_goal: auto
#sg4_thrs: 80

#[autotune_tmc stepper_z]
#motor: fysetc-42hsc1404b-200n8
#tuning_goal: auto

#[autotune_tmc extruder]
#motor: fysetc-g36hsy4405-6d-80a
#tuning_goal: auto

#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PC8
sensor_type: Generic 3950
sensor_pin: PB0
smooth_time: 3.0
min_temp: 0
max_temp: 120

[verify_heater heater_bed]
max_error: 10
check_gain_time: 300
heating_gain: 0.2
hysteresis: 10

#####################################################################
# Fan Control
#####################################################################

[temperature_fan CM68_Fan]
pin: PB4
max_power: 1.0
min_temp: 10
max_temp: 90
kick_start_time: 1.0
off_below: 0.2
control: pid  # Controle PID para ajuste mais preciso
sensor_type: temperature_host
pid_Kp: 50.0
pid_Ki: 1.0
pid_Kd: 200.0

#####################################################################
# Temperature Sensor
#####################################################################

[temperature_sensor Catalyst]
sensor_type: temperature_mcu
min_temp: -10
max_temp: 140

[temperature_sensor CM68]
sensor_type: temperature_host
min_temp: -10
max_temp: 100

#####################################################################
# Sensor filamentos
#####################################################################
#[filament_switch_sensor runout_sensor]
#switch_pin: PA2
#pause_on_runout: True
#runout_gcode:
#  PAUSE
#insert_gcode:
#  RESUME

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

#[safe_z_home]
#home_xy_position: 120,120                                           # these coordinates must NOT be greater than the values specified in "position_max:" for the X and Y steppers
#speed: 50.0
#z_hop: 5

# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right

#####################################################################
# Neopixel
#####################################################################

[neopixel board_rgb]
pin: PC9
chain_count: 35
color_order: GRB
initial_RED: 0.2
initial_GREEN: 0.2
initial_BLUE: 0.2

#####################################################################
#   Simple V0 Display
#####################################################################

[display]
lcd_type: sh1106
click_pin: ^!PA15
#i2c_bus: i2c1a
#i2c_mcu: mcu
encoder_pins: ^PC1, ^PC2
kill_pin: ^!PB12
vcomh: 60
x_offset: 2
i2c_software_sda_pin: PB9
i2c_software_scl_pin: PB8

[exclude_object]
[respond]
[gcode_arcs]

[verify_heater extruder]
max_error: 240
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 45
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 30
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 0.5
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

[menu __main __octoprint]
type: disabled

#[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.411
#*# pid_ki = 1.523
#*# pid_kd = 522.504
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 124.8
#*# shaper_type_y = mzv
#*# shaper_freq_y = 80.6
#*#
#*# [stepper_z]
#*# position_endstop = 119.660
